.tableInfo {
    align-content: center;
    width: 1263px;
}

.auto-style3 {
    width: 157px;
}

.auto-style4 {
    text-align: center;
    width: 147px;
}

.auto-style9 {
    width: 554px;
}

.auto-style10 {
    text-align: center;
    width: 186px;
}

.auto-style12 {
    height: 48px;
    width: 147px;
}

.auto-style13 {
    height: 48px;
    width: 314px;
}

.auto-style15 {
    width: 314px;
}

.auto-style18 {
    height: 26px;
    width: 866px;
}

.feedback {
    text-align: center;
}

.auto-style19 {
    width: 147px;
}

.auto-style21 {
    height: 26px;
    width: 638px;
}

.auto-style22 {
    height: 26px;
    width: 792px;
}

.auto-style23 {
    height: 159px;
    text-align: center;
}
